@media only screen and (max-width: 767px){
    #mobile-header {
        display: block;
        a {
        display: inline-block;
        float: right;
        margin-right: 15px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  @import "layout/content-sidebar";
  .layout-container {
    width: 750px;
    margin: 0 auto;
  }
  .widget-area {
  padding-left: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  @import "layout/content-sidebar";
  .layout-container {
    width: 970px;
    margin: 0 auto;
  }
  .widget-area {
  padding-left: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  @import "layout/content-sidebar";
  .layout-container {
    width: 1170px;
    margin: 0 auto;
  }
  .widget-area {
  padding-left: 20px;
  }
}
